

.navbar {
    height: 60px;
    display: flex;
    flex-direction: row;
}

.navbar .title {
    height: 100%;
    width: 15%;
    background-color: rgb(52, 58, 64);
    color: white;
    font-weight: 700;
    text-align: center;
}

.navbar .title .titleText {
    padding-top: 20px;
}

.body {
    display: flex;
    flex-direction: row;
    margin-top: 0.3px;
    height: 145rem;
}

.body .sidebar {
    width: 15%;
    background-color: rgb(52, 58, 64);
    display: block;
}

a {
    text-decoration: none;
}